.container {
    padding: 20px;
    background-color: #d49fab;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.title {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #1e90ff;
}

.list {
    list-style-type: none;
    padding: 0;
}
.item {
    background-color: #f7f9fb;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
}

.author {
    font-size: 18px;
    font-weight: bold;
    color: #ff69b4;
    margin-bottom: 10px;
    text-align: center;
}
.content {
    font-size: 16px;
    color: #555;
    text-align: justify;
}
.noReviews,
.loading {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}