.container {
    padding: 20px;
    margin-top: 40px;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5dbbf5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.button:hover {
    background-color: #7BB9D8;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.loading {
    color: #007bff;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        margin-top: 20px;
    }

    .input {
        width: 100%;
        margin-top: 30px;
    }

    .button {
        width: 100%;
        padding: 15px 10px;
        margin-top: 30px;
    }
    .movieList {
        flex-direction: column;
        gap: 10px;
    }
}